#define IDD_PluginDlg 1000
#define IDC_PLUGINDLG_OK 1001
IDD_PluginDlg DIALOGEX 6,6,189,99
CAPTION "Plugin Dialog"
FONT 8,"Segoe UI",400,0
STYLE 0x10CC0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Ok",IDC_PLUGINDLG_OK,"Button",0x50010000,56,71,78,17,0x00000000
END
